<!-- app/views/tweets/index.html.erb -->
<h1>Tweets</h1>

<div id="tweets">
  <%= render @tweets %>
</div>

<div class="fixed-bottom m-3">
  <%= link_to new_tweet_path, class: "btn btn-primary float-end" do %>
    <i class="bi bi-plus"></i>
  <% end %>
</div>
