<!-- app/views/users/index.html.erb -->
<h1>Users</h1>

<% @users.each do |user| %>
  <p>
    <%= user.email %>
    <%= link_to "View Profile", user_path(user), class: "btn btn-primary" %>
  </p>
<% end %>
